$color-primary: #020020;
$color-secondary: #09f;
$color-text: rgba(255, 255, 255, 0.87);


body {
    background: $color-primary;
    color: $color-text;
}

header {
    background: $color-primary;
}

#hero {
    height: 100vh;
}